.header{
    color: rgb(14, 194, 179);
    background-color: rgb(36, 82, 88);
    border-bottom: 5px solid rgb(122, 155, 119);
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    border-radius: 30px;
}
.header h4{
    color: cornsilk;
}
.header h2{
    color: bisque;
}