@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
.app{   
    background-image: url("../src/images/background.jpg");
    background-color: rgba(19, 22, 29, 0.979);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;    
}

